*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(16, 97, 134, 0.685);
}

h1{
  width: 301.5px;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  font-weight: bolder;
  margin-bottom: 1em;
  background-color: skyblue;
  color: blue;
  box-shadow: 0 5px 6px rgba(58, 73, 80, 0.685);
  text-transform: uppercase;
}

#gameboard{
  width: 305px;
  height: 305px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px steelblue;
  box-shadow: 0 5px 6px rgba(58, 73, 80, 0.685);
  
}

#info{
  width: 303px;
  text-align: center;
  padding: 0.2em;
  border-radius: 1em;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 0.5em;
  background-color: skyblue;
  color: blue;
  box-shadow: 0 5px 6px rgba(58, 73, 80, 0.685);
}

#btn{
  width: 10em;
  text-align: center;
  padding: 0.2em;
  border: none;
  border-radius: 1em;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 0.5em;
  background-color: skyblue;
  color: blue;
  box-shadow: 0 5px 6px rgba(58, 73, 80, 0.685);
  
}
#btn:hover{
  background-color: blue;
  color: skyblue;
  cursor: pointer;
  transition: 1s;
}

.square{
  width: 101px;
  height: 101px;
  background-color: white;
  border: solid 2px steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover{
  cursor: pointer;
}

.circle{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
}

.cross{
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before, .cross::after{
  content: "";
  position: absolute;
  background-color: red;
}

.cross::before{
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross::after{
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}